.container{
	
	min-height: 100%;
    max-width: 1200px;
    outline: none;
    background:#f9f9f9;
    color: #666;
    padding: 30px;
    box-shadow: 0 1px 0 white inset, 0 2px 4px rgba(0, 0, 0, 0.08);
}
.header{
	display: block;
    width: 100%;
    border-bottom: 2px solid #ebebe6;
     box-shadow: 0 2px 0 0 #FFF;
    padding: 12px;
 
}

*{
   margin: 0 auto; 

}
.row{
	margin-top: 25px;
	
}

label{
	color: red;
  }
#third,#four{
	color: black;
}


