/*table section*/
 
 .EmailTemplates{
 	width: 95%;
 	background-color: #3A3A3A;
    border: 1px solid #343434;
    color: #F2F2F2;
    display: block;
    text-shadow: 0 1px 0 black;
    border-bottom: none;
    overflow: visible;
    border-radius: 5px 5px 0 0;
    line-height: 20px;
    padding: 10px;
}
.Col{

	width: 95%;
    margin-left: 20px;
 	background-color:white;
    border: 1px solid #343434;
    color:#3A3A3A;
    display: block;
    text-shadow: 0 1px 0 black;
   overflow: visible;
    line-height: 20px;
    padding: 10px;
}
/* the end of table*/